/*.header{
height: 500px;
width: 100%;
  background-image: url("780379.png.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center
 }*/

    .header {
       position: relative;
       }
    .header p{
      position:absolute;
      color: white;
      font-weight: bold; /*太字に*/
      font-size: 3em;
      font-family: Quicksand, sans-serif;
      background: skyblue;
      top: 200px;
      left: 10%;
      padding: 5px 10px;/*文字周りの余白*/
      margin: 0;
      }
 .header img{
  height: 400px;
  width: 100%;
  max-width: 100%;
  }
  h1 {
  border-left :solid 10px #13256e;
  border-bottom: solid 1px gray;
  padding: 10px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 2em;
  }
  h2 {
   font-family: sans-serif;
   }
     .under {
  border-bottom: double 6px #c4381f;
　}
